.cart{
    position: sticky;
    top: 0;
    padding-top: 28px;
    text-align: center;
}

.order-summary{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 50px;
}
.order-info{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
}
.grand-total{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}