/* All items full area  */
.product{
    /* padding: 7px; */
    border: 1px solid #95A0A7;
    border-radius: 8px;
    height: 510px;
    width: 300px;
    margin-bottom: 50px;
    position: relative;
}

/* only image style  */
img{
    margin: 7px;
    height: 286px;
    width: 286px;
    border-radius: 8px;
}

/* products informations  */
.product-info{
 margin: 0px 14px;
}

/* individual product informations  */
.name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 22px;
    letter-spacing: 0.0015em;
    margin-top: 5px;
    margin-bottom: 11px;
}
.price{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin: 5px 0px;
}
.other-info{
    color:#2A414F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.004em;
}

/* button style  */
.btn-cart{
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    border-top: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color: #ff9900;
    color: #fff;
}